body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    background-color: orangered;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: orange;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav>ul>li>ul {
    position: relative;
    display: none;
    position: absolute;
    background-color: #333;
    text-align: left;

    z-index: 1;
}

nav>ul>li:hover>ul {
    display: block;
}

nav>ul>li>ul>li {
    display: block;
    margin: 0px;
}

nav>ul>li>ul>li>a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

nav ul li.active>a {
    background-color: orangered;
    color: white;
}

nav ul li a:hover {
    background-color: orangered;
    color: white;
    text-decoration: none;
}

nav ul li a:active {
    color: orangered;
}

nav ul li a:visited {
    color: white;
}

footer {
    text-align: center;
    color: white;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main {
    text-align: center;
    margin-bottom: 120px;
}

#teamtable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#teamtable tr {
    width: 100%;
}

#teamtable tr td {
    width: 16.667%;
    border: 1px solid black;
}

#teamtable td img {
    width: 65%;
    border: 2px solid orangered;
    border-radius: 15px;
}